app-header {
    height: 3rem;
    position: absolute;
    z-index: 2;
    width: 100%;
}

.main {
    top: 3rem;
    position: relative;
    min-height: calc(100vh - 4rem);
}

app-footer {
    height: 1rem;
    /* top: calc(100vh - 2rem); */
    position: relative;
    width: 100%;

}

.sidenav {
    max-height: calc(100vh - 3rem);
    max-width: 40px;
}

.main-container {
    min-width: 100vh;

}

.parent-container {
    min-height: 100vh;
}