<main class="main">
    <p-toast />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <div class="login-box">
        <h2 class="heading">Hello!</h2>
        <p>Sign Up to Get Started</p>
        <div class="multiple-input-box">
            <div class="input-icon-wrapper">
                <i class="bi bi-person"></i>
                <input type="text" [(ngModel)]="username" placeholder="Username" class="textbox">

            </div>
            <div class="input-icon-wrapper">
                <i class="bi bi-envelope"></i>
                <input type="email" [(ngModel)]="email" placeholder="Email" class="textbox">
            </div>

            <div class="input-icon-wrapper">
                <i class="bi bi-lock"></i>
                <input type="password" [(ngModel)]="password" class="textbox" placeholder="Password">
            </div>
        </div>
        <p class="account-confirm">Already have an account? <a (click)="handleSignIn()" href="/login">Sign In</a></p>
        <button (click)="Register()" [disabled]="!password || !username || !email">
            Register
        </button>
    </div>

</main>
